@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



.nav-container {
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row-reverse;
}

.my-green-room {
  font-family: 'Amatic SC', cursive;
  color: green;
  font-size: 56px;
}

.home-container {
  display: flex;
  flex-direction: row;

}

.room-container {
  display: flex;
}

.plant-container {
  display: flex;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}




